[submodule "core"]
	path = core
	url = https://github.com/jeonghunn/Hello_Core.git
[submodule "modules/page"]
	path = modules/page
	url = https://github.com/jeonghunn/Hello_Page.git
[submodule "modules/account"]
	path = modules/account
	url = https://github.com/jeonghunn/Hello_Account.git
[submodule "modules/attach"]
	path = modules/attach
	url = https://github.com/jeonghunn/Hello_Attach.git
